---
layout: home
title: Home
---


<header>
  <h1>{{ site.title }}</h1>
  {% comment %} <nav>
    <a href="/about">关于</a>
  </nav> {% endcomment %}
</header>

<main class="container">
    <div class="article-list">
    {% assign all_posts = site.Android | concat: site.DSA | sort: 'date' | reverse %}
    {% for post in all_posts  %}
      <article class="post-preview">
        <div class="post-content">
          <h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
          <p>{{ post.excerpt | strip_html | truncatewords: 30 }}</p>
        </div>
        {% if post.image %}
          <img src="{{ post.image | relative_url }}" alt="{{ post.title }}" class="post-image">
        {% endif %}
      </article>
    {% endfor %}
  </div>

    {% include categories.html posts=site.Android %}
</main>

<footer>
  <p style="text-align: center; color: #9deef0; font-size: 12px;" >&copy; 2024 Carrie & Mio. 保留所有权利。</p>
</footer>