<footer class="site-footer h-card">
  <div class="foot-wrapper1">

   
   
    <div class="footer-item">
      <a href="{{ "/" | relative_url }}"><span class="user">{{ site.author | escape }} &nbsp;{{- site.description | escape -}}</span></a>
      
    </div>
    <div class="footer-item"> </div>
    <div class="footer-item"> {%- if site.github_username -%}<a
        href="https://github.com/{{ site.github_username| cgi_escape | escape }}"><svg class="svg-icon">
          <use xlink:href="{{ '/assets/images/minima-social-icons.svg#github' | relative_url }}"></use>
        </svg> <span class="username">{{ site.github_username| escape }}</span></a>{%- endif -%}</div>
    <div class="footer-item"> {%- if site.csdn_username -%}<a href="https://blog.csdn.net/ygzrsno"><img
          src="{{ site.baseurl }}/assets/images/CSDN.svg" alt="Icon"> <span class="username">{{ site.csdn_username|
          escape
          }}</span></a>{%- endif -%}</div>
    <div class="footer-item">
      {%- if site.email -%}
      <a class="u-email" href="mailto:{{ site.email }}"><img src="{{ site.baseurl }}/assets/images/email.png" alt="Icon"><span class="email">{{ site.email }}</span></a>
      {%- endif -%}
    </div>


  </div>


  <link rel="stylesheet" href="{{ '/assets/css/footer.css' | relative_url }}">
</footer>