




.container {
  flex-wrap: nowrap !important;
}



.post-content {
    flex: 2;
    height:50px;

    h3 {
        margin-top: 0;
        margin-bottom: 0.5rem;
        
        a {
            color: #661fe8; 
            text-decoration: none;
            transition: color 0.3s ease;
            font-weight: 600;
        }
    }

    p {
        font-size: 15px; 
        color: #212121; 
        line-height: 1.6; 
    }

    .post-list {
        margin: 20px 0;
      }
      
      .post-item {
        margin: 10px 0;
      }
      
      .post-link {
        text-decoration: none;
        color: #333;
        font-size: 1.1em;
      }
      
      .post-link:hover {
        color: #0366d6;
      }
}



.sidebar {
    flex: 1 !important;
    min-width: 280px;  /* 增加这一行！ */
    max-width: 320px;  /* 最好也加上这一行 */
}

.sidebar .widget h3 {
    font-size: 1.2rem;
    color: #212121;
    margin-top: 2rem;
    font-weight: 600;
  }
