

.container {  
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    flex: 1;
}

.article-list {
    flex: 3;
    margin-right: 3rem;
}

.list-title {
    color: #fff;
    padding: 1px 12px;

    border-radius: 8px;
    display: inline-block;
    font-weight: 500;
    font-size: 12px;
    transition: all 0.3s ease;
    cursor: pointer;
    text-decoration: none;
    background-color: #cce647;

    &:hover{
        color: #a8b901;
    }
}


.post-preview {
    border-bottom: 2px solid #dcf7c3 !important;
    display: flex;
    margin-bottom: 2rem;


    &:last-child {
        border-bottom: none;
        margin-bottom: 0; 
        padding-bottom: 0; 
      }
}

.post-content {
    flex: 2;

    h3 {
        margin-top: 0;
        margin-bottom: 0.5rem;
        
        a {
            color: #661fe8; 
            text-decoration: none;
            transition: color 0.3s ease;
            font-weight: 600;
        }
    }

    p {
        font-size: 15px; 
        color: #212121; 
        line-height: 1.6; 
    }
}

.sidebar {
    flex: 1;
}

.sidebar .widget h3 {
    font-size: 1.2rem;
    color: #212121;
    margin-top: 2rem;
    font-weight: 600;
  }
