/* footer.html样式 */
.foot-wrapper1 {
    display: flex;
    /* 使用 Flexbox 布局 */
    justify-content: center;
    /* 列间均匀分布 */
    align-items: center;
    /* 垂直居中对齐 */
    flex-wrap: nowrap;
    /* 禁止换行 */
    width: 100%;
    /* 确保占满容器宽度 */
    padding: 0 10px;
    /* 减少整体内边距 */
    background-color: #f8f8f8;
    /* 示例背景色，可自定义 */
    box-sizing: border-box;
    /* 确保内边距不影响宽度 */
  }
  
  .foot-wrapper1 .footer-item {
    text-align: center;
    /* 内容居中 */
    box-sizing: border-box;
    /* 确保 padding 不影响总宽度 */
    padding: 0 5px;
    /* 减少内边距 */
    margin: 0 30px;
    /* 控制子元素之间的间距 */
    box-sizing: border-box;
    /* 确保内边距和边距不影响宽度 */
  
    .email{
      margin-left: 6px;
    }
  }
  
  .foot-wrapper1 .foot-user{
    list-style: none !important; /* 去掉默认的黑点 */
    padding: 0; /* 移除默认的内边距 */
    margin: 0; /* 移除默认的外边距 */
    text-align: left; /* 左对齐 */
  }
  
  
  
  .foot-wrapper1 .footer-item a {
    text-decoration: none !important;
    /* 去掉下划线 */
    color: #f2c4ff !important;
    font-weight: 600 !important;
    /* 链接颜色 */
  }
  
  .foot-wrapper1 .footer-item ul{
    list-style: none !important; 
    padding: 0; /* 移除默认的内边距 */
    margin: 0; /* 移除默认的外边距 */
    text-align: left; /* 左对齐 */
    vertical-align: middle;
    color: #e7d1fd;
    font-size: 14px;
    
  }
  
  .foot-wrapper1 .footer-item .user{
    font-size: 14px;
    font-weight: 600;
    vertical-align: middle;
  }
  
  .foot-wrapper1 .footer-item img {
    max-height: 82px;
    /* 限制图标高度 */
    vertical-align: middle;
    /* 图标和文字垂直对齐 */
  }
  
  .foot-wrapper1 .user-img{
    width: 24px; /* 缩小图片宽度 */
    height: 24px; /* 设置高度，与宽度一致可以保持图片比例 */
    border-radius: 50%; /* 实现圆角 */
    object-fit: cover;
  }