<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ page.title }}</title>
<link rel="stylesheet" href="{{ '/assets/css/home.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/tab.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/home-list.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
<link rel="icon" href="{{ '/assets/images/favicon.ico' | relative_url }}" type="image/x-icon">
<link rel="shortcut icon" href="{{ '/assets/images/favicon.ico' | relative_url }}" type="image/x-icon">
</head>

<body>
<!-- 创建一个新的覆盖层容器，放置 GIF 图片 -->
<div class="overlay-image-container">
    <img src="{{ '../../assets/images/anime13.gif' | relative_url }}" alt="Header Image" class="overlay-image">
</div>
{{ content }}</body>
</html>
